// 颜色定义规范
$color-background: #fff;
$color-background-d: #f0f2f5;
$color-highlight-background: #fafafa;;
$color-dialog-background: #666;
$color-border: #e8e8e8;
$color-theme: #078ce7;
$color-theme-d: #078ce7;
$color-error: #F56C6C;
$color-warning: #e6a23c;
$color-success: #67C23A;
$color-text: rgba(0, 0, 0, 0.65);
$color-text-d: rgba(0, 0, 0, 0.85);
$color-text-l: #fff;
$color-text-ll: #078ce7;
$color-btn-active: #078ce7;
$main-color: #078ce7;
//字体定义规范
$font-size-samll-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;
